<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/progressBar.css' %}">
        <title>Landing Page</title>
    </head>
    {% with current_page='profile'%}
    {% include 'navbar.html' %}
    {% endwith %}
    <body>
        <div class="row mt-5 text-center">
            <div class="col-12">
                <div class="container">
                    <h1>Daril Nofriansyah Badruddin</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="accordion">
                <h3 class = "judul">
                    Biodata
                </h3>
                <div>
                    <p class="text-center">
                        I am an undergraduate IT student who likes to solve problem.
                        I am interested in obtaining new knowledge and skills, 
                        which I use to self-improve. I am a
                        creative person and a communicative person.
                    </p>
                </div>
                <h3 class = "judul">
                    Activity
                </h3>
                <div>
                    <ul>
                        <li>Badan Eksekutif Mahasiswa Fasilkom UI 2019</li>
                        <li>COMPFEST 12</li>
                        <li>Akademis</li>
                    </ul>
                </div>
                <h3>Skills</h3>
                <div>
                    <ul>
                        <li>Java Programming</li>
                        <li>Photoshop Basics</li>
                        <li>Mengeluh</li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/accordion.js' %}"></script>
    </body>
</html>