input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switch_label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

#switch_label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + #switch_label {
	background-color: #0077ff;
}

input:checked + #switch_label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switch_label:active:after {
	width: 45px;
}