*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

html{
    --bg: #FCFCFC;
    --color-text: #333333;
    --color-text-hightlight: #050505;
    --bg-panel: #EBEBEB;
}

html[data-theme='dark']{
    --bg: #333333;
    --color-text: #B5B5B5;
    --color-text-hightlight: rgb(226, 226, 226);
    --bg-panel: #434343;
}

body{
    background-color: var(--bg);
    overflow-x: hidden;
    color: var(--color-text);
}

.row{
    width: 100vw;
}

.img-thumbnail{
    background-color: var(--color-text);
}

table{
    color: var(--color-text);
}

#id_status{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#id_status:focus{
    width: 100%;
    border: 3px solid #555;
    border-radius: 0px;
}

.title{
    padding-left: 30px;
}

.ui-accordion .ui-accordion-header{
    background-color: var(--bg-panel);
    color: var(--color-text);
}

.ui-accordion .ui-state-active{
    background-color: var(--color-text);
    color: var(--bg);
}

.ui-accordion .ui-accordion-content-active{
    background-color: var(--bg);
    color: var(--color-text);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important;
}