<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Landing Page</title>
    </head>
    {% with current_page='account'%}
    {% include 'navbar.html' %}
    {% endwith %}
    <body>
    <div class="row text-center">
        <div class="col-12">
            {% if user.is_authenticated%}
            <h1>Welcome, {{user.username}}!</h1>
            <a href="{% url 'account:logout' %}" class = "btn btn-outline-secondary mt-3" role = "button"> Logout </a>
            {% else %}
            <h1>Welcome, Guest! </h1>
            <a href="{% url 'account:login' %}" class = "btn btn-outline-secondary mt-3" role = "button"> Login </a>
            <a href="{% url 'account:register' %}" class = "btn btn-outline-secondary mt-3" role = "button"> Register </a>
            {% endif %}
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/accordion.js'%}">
        </script>
    </body>
</html>