.progressbar {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: 
}

.html {width: 90%;}
.css {width: 80%;}
.js {width: 65%;}