{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Mind.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if current_page == 'home' %} active {% endif %}">
        <a class="nav-link" href="{% url 'homepage:index'%}">Home</a>
      </li>
      <li class="nav-item {% if current_page == 'profile' %} active {% endif %}">
        <a class="nav-link" href="{% url 'myProfile:profile'%}">Profile</a>
      </li>
      <li class="nav-item {% if current_page == 'search' %} active {% endif %}">
        <a class="nav-link" href="{% url 'bookSearch:booksearch'%}">Search</a>
      </li>
      <li class="nav-item {% if current_page == 'account' %} active {% endif %}">
        <a class="nav-link" href="{% url 'account:index'%}">Dashboard</a>
      </li>
      <li>
        <div class="toggle-container">
          <input type="checkbox" id="switch" name="theme" /><label id="switch_label" for="switch">Toggle</label>
        </div>
      </li>
    </ul>
  </div>
</nav>